$myCoolColor: grey;
$myOtherColor: #80ffff;

.CoolComponentStyling {

	display: inline-block;
	padding: 0 20px;
	margin: 10px;
	text-align: center;
	background: $myCoolColor;

	h3 {
		font-family: sans;
		color: $myOtherColor;
	}

	img {
		width: 100px;
		margin-bottom: 20px;
	}
}

.list {
	list-style: none;
	}
	.list-item {
	background-color: #d5d3d6; margin: 9px;
	padding: 1.5rem; border-radius: 5px;
	font-family: "Lucida Console", "Courier New", monospace;
	}
	.list-item a {
	font-size: 1.75rem; text-decoration: none; color: #2b2530;
	}
	.card {
	background-color: #9de7fc; margin: 9px;
	padding: 5rem; border-radius: 5px;
	width: 100%
	}

.Dashboard-Page{
	font-size: 20px;
	height: 100%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}

.Jobs-List{
	font-size: 20px;
	height: 100%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}

.Line-Graph{
	font-size: 20px;
	height: 100%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}

$color: #0cf;
$black: #000;
$white: #fff;
* {
	margin: 0;
	padding: 0;
  }
.navigation {
	font-family: sans;
	background-color: #052d53;
	color: $white;
	&-bar {
		padding: 10px 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		button{
			display: inline-block;
			padding: .1rem 0.25rem;
			color: #052d53;
			text-transform: uppercase;
			font-size: 1rem;
			letter-spacing: .1rem;
			transition: all .3s;
			position: relative;
			overflow: hidden;
			&:hover{
				box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
				transform: translateY(-0.25em);
			}
			&:focus {
				box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
				transform: translateY(-0.25em);
			}
	  	}
	  a{
			color: $myCoolColor;
			text-decoration: none;
			transition: all .3s;
			&:hover{
				color: $white;
		
		}
	  }
	  .active{
		  color: $white;
		  text-transform: uppercase;
	  }
	  .side {
		// width: 50%;
		&-left {
		  display: flex;
		  gap: 5px;
		}
	  }
	  .side-left a {
		text-align: center;
		display: inline-block;
		padding: 5px 40px;
		cursor: pointer;
		letter-spacing: 0.5px;
		position:relative;
		overflow:hidden;
		margin: 0 20px;
		}

		.side-left a:before {
		content: "";
		position: absolute;
		width: 0;
		background : #fff;
		left: 45%;
		height: 2px;
		bottom: 0;
		transition: all .3s;
		opacity: 0.7;
		}

		.side-left a:hover:before {
		width: 100%;
		left:0;
		}

	}
}

.job-page-container {
	// body{
	// 	margin: 0;
	// }
	// width: 100vw;
	// height: 100vh;
	display: grid;

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 80px 80px 480px ;

	gap: 10px;
	padding: 10px;
	box-sizing: border-box;
	.job-page-header{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 4;
		border: 1px solid #000;
	}
	.job-page-warning-section{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 4;
		border: 1px solid #000;
	}
	.job-page-payload-section{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 2;
		border: 1px solid #000;
	}
	.job-page-timeline-section {
		padding: 10px;
		grid-column-start: 2;
		grid-column-end: 3;
		border: 1px solid #000;
	}
	.job-page-parentJobs-section{
		padding: 10px;
		grid-column-start: 3;
		grid-column-end: 4;
		border: 1px solid #000;

	}

}

// .job-page-containr div {
// 	border: 1px solid #000;
// }

.topic-page-container{
	// width: 100vw;
	// height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px 80px 480px ;

	gap: 10px;
	padding: 10px;
	box-sizing: border-box;

	.topic-page-header{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 4;
		border: 1px solid #000;
	}
	.topic-page-warning-section{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 4;
		border: 1px solid #000;
	}
	.topic-page-recentJobs-section{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 2;
		border: 1px solid #000;

	}
	.topic-page-history-section{
		padding: 10px;
		grid-column-start: 2;
		grid-column-end: 4;
		border: 1px solid #000;
	}

}

.group-page-container{
	// width: 100vw;
	// height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px 80px 480px ;

	gap: 10px;
	padding: 10px;
	box-sizing: border-box;

	.group-page-header{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 4;
		border: 1px solid #000;
	}
	.group-page-warning-section{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 4;
		border: 1px solid #000;
	}
	.group-page-recentJobs-section{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 2;
		border: 1px solid #000;

	}
	.group-page-history-section{
		padding: 10px;
		grid-column-start: 2;
		grid-column-end: 4;
		border: 1px solid #000;
	}

}
