$myCoolColor: grey;
$myOtherColor: #80ffff;

.CoolComponentStyling {

	display: inline-block;
	padding: 0 20px;
	margin: 10px;
	text-align: center;
	background: $myCoolColor;

	h3 {
		font-family: sans;
		color: $myOtherColor;
	}

	img {
		width: 100px;
		margin-bottom: 20px;
	}
}

.list {
	list-style: none;
	}
	.list-item {
	background-color: #d5d3d6; margin: 9px;
	padding: 1.5rem; border-radius: 5px;
	font-family: "Lucida Console", "Courier New", monospace;
	}
	.list-item a {
	font-size: 1.75rem; text-decoration: none; color: #2b2530;
	}
	.card {
	background-color: #9de7fc; margin: 9px;
	padding: 5rem; border-radius: 5px;
	width: 100%
	}

.Dashboard-Page{
	font-size: 20px;
	height: 100%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}

.Jobs-List{
	font-size: 20px;
	height: 100%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}

.Line-Graph{
	font-size: 20px;
	height: 100%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}
