$myCoolColor: grey;

:root {
	font-family: sans;
}

.list {
	list-style: none;
	}
	.list-item {
	background-color: #d5d3d6; margin: 9px;
	padding: 1.5rem; border-radius: 5px;
	font-family: "Lucida Console", "Courier New", monospace;
	}
	.list-item a {
	font-size: 1.75rem; text-decoration: none; color: #2b2530;
	}
	.card {
	background-color: #9de7fc; margin: 9px;
	padding: 5rem; border-radius: 5px;
	width: 100%
	}

.Dashboard-Page{
	font-size: 20px;
	height: 100%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}

.Line-Graph{
	font-size: 20px;
	height: 100%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}

$color: #0cf;
$black: #000;
$white: #fff;
* {
	margin: 0;
	padding: 0;
  }
.navigation {
	font-family: sans;
	background-color: #052d53;
	color: $white;
	&-bar {
		padding: 10px 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		button{
			display: inline-block;
			padding: .1rem 0.25rem;
			color: #052d53;
			text-transform: uppercase;
			font-size: 1rem;
			letter-spacing: .1rem;
			transition: all .3s;
			position: relative;
			overflow: hidden;
			&:hover{
				box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
				transform: translateY(-0.25em);
			}
			&:focus {
				box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
				transform: translateY(-0.25em);
			}
	  	}
	  a{
			color: $myCoolColor;
			text-decoration: none;
			transition: all .3s;
			&:hover{
				color: $white;
		
		}
	  }
	  .active{
		  color: $white;
		  text-transform: uppercase;
	  }
	  .side {
		// width: 50%;
		&-left {
		  display: flex;
		  gap: 5px;
		}
	  }
	  .side-left a {
		text-align: center;
		display: inline-block;
		padding: 5px 40px;
		cursor: pointer;
		letter-spacing: 0.5px;
		position:relative;
		overflow:hidden;
		margin: 0 20px;
		}

		.side-left a:before {
		content: "";
		position: absolute;
		width: 0;
		background : #fff;
		left: 45%;
		height: 2px;
		bottom: 0;
		transition: all .3s;
		opacity: 0.7;
		}

		.side-left a:hover:before {
		width: 100%;
		left:0;
		}

	}
}

.job-page-container {
	// body{
	// 	margin: 0;
	// }
	// width: 100vw;
	// height: 100vh;
	display: grid;

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 80px 80px 480px ;

	gap: 10px;
	padding: 10px;
	box-sizing: border-box;
	.job-page-header{
		// padding: 10px;
		grid-column-start: 1;
		grid-column-end: 4;
		border: 1px solid #000;
		.null-sub-status{
			font-style: italic;
		}
	}
	.job-page-warning-section{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 4;
		border: 1px solid #000;
		.status {
			position: flex;
			top: 2em;
			left: 2.25em;
			z-index: 1;
			width: 2em;
		}
		
	}
	.job-page-payload-section{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 2;
		border: 1px solid #000;
		.empty-payload{
			font-style: italic;
		}
	}
	.job-page-timeline-section {
		padding: 10px;
		grid-column-start: 2;
		grid-column-end: 3;
		border: 1px solid #000;
	}
	.job-page-parentJobs-section{
		padding: 10px;
		grid-column-start: 3;
		grid-column-end: 4;
		border: 1px solid #000;

	}

}

// .job-page-containr div {
// 	border: 1px solid #000;
// }

.topic-page-container{
	// width: 100vw;
	// height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px 80px 480px ;

	gap: 10px;
	padding: 10px;
	box-sizing: border-box;

	.topic-page-header{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 4;
		border: 1px solid #000;
		border-radius: 5px;
	}
	.topic-page-warning-section{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 4;
		border: 1px solid #000;
		border-radius: 5px;

		
	}
	.topic-page-recentJobs-section{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 2;
		border: 1px solid #000;
		border-radius: 5px;

	}
	.topic-page-history-section{
		padding: 10px;
		grid-column-start: 2;
		grid-column-end: 4;
		border: 1px solid #000;
		border-radius: 5px;
	}

}

.group-page-container{
	// width: 100vw;
	// height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px 80px 480px ;

	gap: 10px;
	padding: 10px;
	box-sizing: border-box;

	.group-page-header{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 4;
		border: 1px solid #000;
		border-radius: 5px;
	}
	.group-page-warning-section{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 4;
		border: 1px solid #000;
		border-radius: 5px;
	}
	.group-page-recentJobs-section{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 2;
		border: 1px solid #000;
		border-radius: 5px;

	}
	.group-page-history-section{
		padding: 10px;
		grid-column-start: 2;
		grid-column-end: 4;
		border: 1px solid #000;
		border-radius: 5px;
	}

}


.topics-main-page-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px 500px ;

	gap: 10px;
	padding: 10px;
	box-sizing: border-box;

	.topics-main-page-header{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 3;
		border: 1px solid #000;
		border-radius: 5px;
	}
	.topics-main-page-topics-list{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 2;
		border: 1px solid #000;
		border-radius: 5px;
	}
	.topics-main-page-topics-graph{
		padding: 10px;
		grid-column-start: 2;
		grid-column-end: 3;
		border: 1px solid #000;
		border-radius: 5px;
	}

}

.groups-main-page-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px 500px ;

	gap: 10px;
	padding: 10px;
	box-sizing: border-box;

	.groups-main-page-header{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 3;
		border: 1px solid #000;
		border-radius: 5px;
	}
	.groups-main-page-groups-list{
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 2;
		border: 1px solid #000;
		border-radius: 5px;
	}
	.groups-main-page-groups-graph{
		padding: 10px;
		grid-column-start: 2;
		grid-column-end: 3;
		border: 1px solid #000;
		border-radius: 5px;
	}


}

.dashboard-main-page-container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1em;
	.graphs {
		width: 100%;
		.graph {
			display: inline-block;
			width: 50%;
		}
	}
}

.jobs-main-page-container{
	max-width: 1000px;
	margin: 0 auto;
}

.jobs-list-entry {
	display: flex;
	margin: 1em;
	padding: .5em;
	color: #222222;
	border: 1px solid #cccccc;
	border-radius: .5em;

	.icon {
		position: relative;
		.job {
			width: 2.5em;
		}
		.status {
			position: absolute;
			top: 1.25em;
			left: 1.5em;
			z-index: 1;
			width: 1.25em;
		}
	}
	.details {
		color: #222222;
		margin: auto auto auto 1em;
		.uid { color: #777777; }
		.topicgroup { color: #777777; }
	}
	.timestatus {
		color: #222222;
		text-align: right;
		margin: auto 0 auto auto;
		.status { color: #777777; }
	}
	a {
		text-decoration: none;
		color: #222222;
	}
}

.job-filter-toolbar {
	margin: 1em 0;
	.button {
		cursor: pointer;
		margin: .5em 0;
		span { text-decoration: underline; }
	}
	.filters {
		display: inline;
		input { margin: .1em .5em; }
	}
}
